<div >
<!--  Top Bar-->
  <div class="top-bar">
    <div class="top-left">
      <span>📱</span>
      <span>Get the Ventro App</span>
      <span class="extra-offer">Extra 10% Off</span>
    </div>

    <div class="top-right">
      <a href="#">? Help Center</a>
      <a href="#">? Order Tracking</a>
      <a href="#">? Become a Seller</a>
      <span class="language">EN</span>
      <a href="#">Login</a>
      <button class="signup-btn">Sign Up</button>
    </div>
  </div>

<!--  Main Header Nav-->
  <div class="main-navbar">
    <div class="logo">
      <div class="logo-icon">V</div>
      <span>Ventro</span>
    </div>


    <div class="search-container">
      <input type="text" placeholder="Search for products,brand and more">
      <button>Searcg</button>

    </div>

    <div class="nav-actions">
      <div class="nav-action">
        <span class="action-icon">👤</span>
        <span>Account</span>
      </div>

      <div class="nav-action">
        <span class="action-icon">🤍</span>
        <span>Whislist</span>
      </div>

      <div class="nav-action">
        <span class="action-icon">🛒</span>
        <span class="cart-count">3</span>
        <span>Cart</span>
      </div>
    </div>

    <div class="wallet">
      <div>
        <small>Ventro Wallet</small>
        <strong>$1,500</strong>
        <span>+ Rewards</span>
      </div>

      <span class="wallet-icon">
      💳
    </span>
    </div>
  </div>

<!--  category nav-->
  <nav class="category-navbar">
    <div class="category-item all-categories">
      ‗
      <span>All Categories</span>
    </div>

    <a href="#" class="category-item">Fashion</a>
    <a href="#" class="category-item">Electronics</a>
    <a href="#" class="category-item">Home & Living</a>
    <a href="#" class="category-item">Beauty</a>
    <a href="#" class="category-item">Groceries</a>
    <a href="#" class="category-item">Sports & Outdoors</a>
    <a href="#" class="category-item">Baby & Toys</a>
    <a href="#" class="category-item deals">🔥 Deals</a>
  </nav>







</div>
