
<div class="hero-section">
  <div class="hero-banner">

    <div class="hero-content">
      <span class="discount-badge">UP to 70% OFF</span>
      <h1>MEGA<span>SUMMER</span>SALE</h1>
      <p>Top Brands. Hot deals.<br>Limited Time Only</p>
      <button class="shop-now-btn">Shop Now</button>
    </div>

    <div class="hero-image">
      <img src="/images/hero/mega-summer-sale.png" alt="Mega Summer Sale Products">
    </div>
  </div>

<!--  slider butons-->
  <button class="slider-btn left"><</button>
  <button class="slider-btn right">></button>

<!--  slider dots-->
  <div class="slider-dots">
    <span class="active"></span>
    <span></span>
    <span></span>
  </div>

</div>
