<div class="features">

  <div class="feature">
    <p><span class="first-line">100% Authenticate</span> <br>Genuine Products</p>
  </div>

  <div class="feature">
    <p><span class="first-line">Free Delivery</span> <br>On Oder above 499</p>
  </div>

  <div class="feature">
    <p><span class="first-line">Easy Returns</span> <br>14-days returns</p>
  </div>

  <div class="feature">
    <p><span class="first-line">Secure Payments</span> <br>100% Protected</p>
  </div>

  <div class="feature">
    <p><span class="first-line">24/7 Support</span> <br>We're in here to help</p>
  </div>

  <div class="feature">
    <p><span class="first-line">Best Price</span> <br>Competitive pricing</p>
  </div>

</div>
